body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    flex: 1 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* Backgroud image for home page */
.top-image {
    background-image: url(img/cervin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 400px;
    position: relative;
}

/* Modify default icons alignment to match text height */
.material-icons, .icon-text {
    vertical-align: bottom;
}

/* Modification from base library to have horizontal cards working */
.card.horizontal {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.card .card-image img {
    height:100%;
}

/* Move the tooltip from uislider down the slider instead of top */
.noUi-horizontal .noUi-tooltip {
    bottom:unset;
    top:120%;
}

/* Modified colors for image navigation in room list view */
.slider .indicators .indicator-item.active {
    background-color: #00695c;
}